{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                    <h1 class="mb-5">Our Clients Say!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    {% for object in objects %}
                        <div class="testimonial-item bg-transparent border rounded p-4">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p>{{ object.comment|truncatewords:8 }}</p>
                            <div class="d-flex align-items-center">
                                <div class="ps-3">
                                    <h5 class="mb-1">{{ object.user }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
       

{% endblock %}